@media (max-width: 768px) {
    /* Aquí no ocultamos la búsqueda, se mantiene visible */


    /* ==================================================================== */
    /*                        contenedor de productos                         */
    /* ==================================================================== */
    #contenedor-productos.vista-cuadricula {
        /* --- REGLA ---: Mantenemos 3 columnas para los productos */
        grid-template-columns: repeat(3, 1fr);
    }

    .contenido-principal {
        /* --- CAMBIO ---: El layout principal vuelve a ser de una columna */
        grid-template-columns: 1fr;
        gap: -50px;
    }

    .opciones-filtro {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para filtros */
    }
    
    .panel-filtros {
        /* --- CAMBIO CLAVE --- */
        /* Anulamos el posicionamiento "pegajoso" para esta vista */
        position: static;
        width: 100%;
        box-shadow: 0 4px 15px rgba(0,0,0,0.08); /* Sombra más sutil */
    }
}